<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.im.imsingel.Mobilewechat.mapper.MyFriendsMapper">
    <resultMap id="BaseResultMap" type="com.ycw.im.imsingel.Mobilewechat.pojo.MyFriends">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="my_user_id" property="myUserId" jdbcType="VARCHAR"/>
        <result column="my_friend_user_id" property="myFriendUserId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectFriendIds" resultType="java.lang.String">
        select my_friend_user_id from my_friends where my_user_id = #{userId}
    </select>

    <insert id="insertFriend" parameterType="java.lang.String">
        INSERT INTO my_friends(my_user_id,my_friend_user_id) values(#{acceptUserId},#{sendUserId})
    </insert>

    <select id="selectFriends" resultType="com.ycw.im.imsingel.Mobilewechat.pojo.vo.QueryAllFriendVo">
        SELECT nickname AS friendNickname,id AS friendUserId, face_image AS friendFaceImage
        FROM users
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>