<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.wechat.mapper.FriendsRequestMapper" >
  <!--<resultMap id="BaseResultMap" type="com.ycw.wechat.pojo.FriendsRequest" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--<id column="id" property="id" jdbcType="VARCHAR" />-->
    <!--<result column="send_user_id" property="sendUserId" jdbcType="VARCHAR" />-->
    <!--<result column="accept_user_id" property="acceptUserId" jdbcType="VARCHAR" />-->
    <!--<result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />-->
  <!--</resultMap>-->
</mapper>